.container{
  width: auto;
  background-color: rgba(14, 13, 16, 0.852);
  color: white;
  padding: 20px;
  text-align: center;
 

}
body {
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 100vh;  
  margin: 0;
  background-color: brown;

}